html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

* {
	box-sizing: border-box;
}

#main {
	width: 900px;
	height: 100%;
}

#menu {
	min-height: 100%;
	padding: 20px;
	width: 350px;
	float: left;
	padding-top: 240px;
}

#menu a {
	word-break: break-all;
}

#menu_top {
	position: fixed;
	top: 0;
	padding: 20px 0;
	width: 310px;
	background: inherit;
	z-index: 9;
}

#logo,
#search {
	width: 100%;
}

#content {
	position: relative;
	float: left;
	width: 850px;
	min-height: 100%;
	padding-top: 60px;
}

#content_path {
	width: 850px;
	position: fixed;
	top: 0;
	z-index: 9;
}

#content_path .filesize {
	padding-left: 1em;
	font-size: 0.8em;
}

#content_path,
#loading,
#file_content {
	padding: 20px;
}

#file_content {
	width: 850px;
}

footer {
	clear: both;
}


#menu i.fa {
	margin-right: 10px;
}

#loading {
	/*position: fixed;*/
	/*left: 40%;*/
	/*top: 40%;*/
	text-align: center;
}

.error {
	text-align: center;
	color: #f66;
}



/*** Text/Markdown ***/
#content p,
#content ul,
#content ol,
#content code {
	line-height: 1.5em;
}

h1,
h2 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.4em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1em;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
	margin-top: 0;
}

img {
	max-width: 100%;
}

audio,
video {
	width: 100%;
}

#content code {
	display: block;
	width: 100%;
	white-space: pre-wrap;
	padding: 1em;
}

#content code.file {
	padding: 0;
}

#content code.nobg {
	background: none;
}
