/* Twilight colors
Dark brown: #9B703F
Orange/brown (keyword): #CDA869
Green (strings): #8F9D6A
Blue (variable): #7587A6
Red (constant): #CF6A4C
Yellow (storage): #F9EE98
*/

body {
	background: #191919;
	color: #ccc;
}



#menu {
	background: #333;
}

#menu ul li a {
	color: #7587A6;
	color: #CDA869;

}

#menu ul li a:hover {
	color: #F9EE98;
}



#content_path {
	background: #CDA869;
	color: #333;
}

#content {
	background: #292929;
}



i.fa {
	color: #8F9D6A;
}


/* Text/Markdown */
h1,
h2 {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
code {
	color: #F9EE98;
}

code {
	display: block;
	padding: 1em;
	margin: 1em 0.5em;
}

a {
	color: #39d;
}