<!-- PineDocs - https://github.com/xy2z/PineDocs -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ config.title }}</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/base.css?{{ version }}">
	<link rel="stylesheet" type="text/css" href="css/print.css?{{ version }}" media="print">
	<link rel="stylesheet" type="text/css" href="layouts/{{ config.layout | lower }}.css?{{ version }}">
	<link rel="stylesheet" type="text/css" href="color-schemes/{{ config.color_scheme | lower }}.css?{{ version }}">

	<link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
	<link rel="manifest" href="/icons/site.webmanifest">
	<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/icons/favicon.ico">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-config" content="/icons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css">
	<link href="https://fonts.googleapis.com/css?family=Fugaz+One|Open+Sans&display=swap" rel="stylesheet">
	<style>
		#content_wrapper pre code {
			white-space: {{ config.break_code_blocks ? 'pre-wrap' : 'pre' }};
		}
	</style>
</head>

<body>
	<div id="main" class="container" style="font-size: {{ config.font_size ? config.font_size : 'inherit' }}; font-family: {{ config.font_family ? ("'" ~ config.font_family ~ "'")|raw : 'inherit' }}">

		<div id="menu_wrapper" class="">
			<div id="menu" class="navbar-default">
				<div id="menu_top">
					<a href="." style="text-decoration: none;">
						<span class="pinedocs-logo">{{ config.title }}</span>
					</a>
					<input type="text" id="search" name="search" value="{{ search.value }}" placeholder="{{ search.placeholder }}"
					 autofocus>
				</div>

				{{ menu | raw }}
				{% if config.render_footer %}
				<footer>
					PineDocs {{ version }} (<a target="_blank" href="https://github.com/xy2z/PineDocs/releases">Check for updates</a>)
				</footer>
				{% endif %}
			</div>
			<button aria-label="Close navigation" type="button" id="menu_close">X</button>
		</div>

		<div id="content_wrapper">
			<div id="content_top">
				<button type="button" aria-haspopup="true" aria-expanded="false" aria-controls="menu_wrapper" aria-label="Navigation"
				 id="mobile_nav_icon"><i class="fa fa-bars" aria-hidden="true"></i></button>
				<span id="content_path"></span>
			</div>
			<div id="loading"></div>
			<div id="file_content"></div>
		</div>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.8.2/marked.min.js"></script>

	{% if config.enable_mathjax %}
		<!-- MathJax enabled. -->
		<script>
			{{ config.mathjax_configuration | raw }};
		</script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	{% endif %}

	<script src="js/PineDocs.js?{{ version }}"></script>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/{{ config.highlight_theme }}.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.css"/>
	<script src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>

	<script>
		var config = {{ config | json_encode() | raw }};
		var errors = {{ errors | json_encode() | raw }};
	</script>

</body>

</html>
