/* Color Scheme: Twilight */

/* Twilight colors
Dark brown: #9B703F
Orange/brown (keyword): #CDA869
Green (strings): #8F9D6A
Blue (variable): #7587A6
Red (constant): #CF6A4C
Yellow (storage): #F9EE98
*/

body {
	background: #000;
	color: #eee;
}

#main {

}



/*** MENU ***/
#menu {
	background: #292929;
}

#menu ul {
}

#menu > ul {
}

#menu ul li {
}

#menu ul li a {
	color: #8295b5;
}

#menu ul li a:hover {
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
}

#menu ul li a.active:hover,
#menu ul li a.active,
#menu ul li a.active i.fa {
	color: #F9EE98;
}



/*** MENU FOOTER ***/
#menu footer,
#menu footer a {
	color: #666;
}



/* MENU ICONS */
#menu i.fa {
	color: #9B703F;
}

#menu a.link_dir_open i.fa {
}



/*** CONTENT PATH ***/
#content_top {
	background: #CDA869;
	color: #333;
}

#content_top .filesize {
	color: rgba(0, 0, 0, 0.5);
}



/*** CONTENT ***/
#content_wrapper {
	background: #222;
}

code {
	background: rgba(100, 100, 0, 0.1);
	color: #080;
}

h1 {
	border-color: #444;
}

a {
	color: #09f;
}
