/* Twilight colors
Dark brown: #9B703F
Orange/brown (keyword): #CDA869
Green (strings): #8F9D6A
Blue (variable): #7587A6
Red (constant): #CF6A4C
Yellow (storage): #F9EE98
*/

body {
	background: #191919;
	color: #ccc;
}


/*** MENU ***/
#menu {
	background: #333;
}

#menu ul li a {
	color: #7587A6;
	color: #CDA869;

}

#menu ul li a:hover {
	background: rgba(249, 238, 152, 0.1);
	color: #F9EE98;
}

#menu ul li a.active:hover,
#menu ul li a.active,
#menu ul li a.active i.fa {
	color: #f70;
}



/*** MENU ICONS ***/
#menu i.fa {
	color: #8F9D6A;
}

#menu a.link_dir_open i.fa {
	color: #F9EE98;

}




/*** CONTENT PATH ***/
#content_top {
	background: #CDA869;
	color: #333;
}



/*** CONTENT ***/
#content_wrapper {
	background: #292929;
}



#loading {
	color: #F9EE98;
}

.error {
	color: #CF6A4C;
}



/* Text/Markdown */
h1,
h2 {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
code {
	color: #F9EE98;
}

code {
	display: block;
	padding: 1em;
}

a {
	color: #39d;
}
