/* Theme: Default */

body {
	font-family: sans-serif;
	font-size: 13px;
	background: #fff;
}

#main {
	width: 100%;
}



/*** MENU ***/
#menu_wrapper {
	background: #f6f6f6;
	border-right: 1px solid #a7d7f9;
}

#search {
	padding: 10px;
	background: #fff;
	border: 1px solid #ddd;
	color: #000;
	font-weight: bold;
	margin: 10px 0 0;
}

#menu ul {
	list-style-type: none;
	width: 100%;
	padding-left: 14px;
}

#menu > ul {
	padding-left: 0;
}

#menu ul li {
}

#menu ul li a {
	color: #ddb;
	color: #0645ad;
	text-decoration: none;
	display: block;
	padding: 5px;
}

#menu a.link_dir {
	color: #4d4d4d;
}

#menu ul li a:hover {
	text-decoration: underline;
}

#menu ul li a.active:hover,
#menu ul li a.active,
#menu ul li a.active i.fa {
	color: #fff;
	color: #f70;
}



/*** MENU FOOTER ***/
#menu footer {
	border-top: 1px solid #ddd;
	margin-top: 2em;
	padding-top: 1em;
	font-size: 0.9em;
}
#menu footer,
#menu footer a {
	color: #999;
}



/* ICONS */
#menu i.fa {
	color: #09d;
	font-size: 0.9em;
	opacity: 0.6;
}



/*** CONTENT PATH ***/
#content_path {
	color: #000;
	/*font-family: monospace;*/
	background: #f6f6f6;
	font-weight: bold;
	opacity: 0.95;
	width: 80%;
	border-bottom: 1px solid #a7d7f9;
}

#content_path .filesize {
	color: #999;
}



/*** CONTENT ***/
#content {
	width: 80%;
	background: #fff;
	font-size: 14px;
}

#file_content {
	width: 80%;
}


/***  Text/markdown ***/
h1,
h2,
h3,
h4,
h5 {
	font-family: Georgia,Times,serif;
	font-weight: normal;
	border-color: #aaa;
}

code {
	background: rgba(255, 255, 200, 0.1);
	background: rgba(100, 100, 0, 0.1);
	color: #080;
	font-family: "Consolas", monospace;
}

a {
	color: #09f;
}
