/* Color Scheme: Default */

body {
	background: #333;
}

#main {

}



/*** MENU ***/
#menu {
	background: #456;
}

#menu ul {
}

#menu > ul {
}

#menu ul li {
}

#menu ul li a {
	color: #dd9;
}

#menu ul li a:hover {
	background: rgba(255, 255, 255, 0.1);
	color: #fff;
}

#menu ul li a.active:hover,
#menu ul li a.active,
#menu ul li a.active i.fa {
	color: #fff;
}



/*** MENU FOOTER ***/
#menu footer,
#menu footer a {
	color: #999;
}



/* MENU ICONS */
#menu i.fa {
	color: #09d;
	color: #fff;
	color: rgba(255, 255, 255, 0.5);
}

#menu a.link_dir_open i.fa {
}



/*** CONTENT PATH ***/
#content_top {
	color: #999;
	background: #ffd;
}

#content_top .filesize {
}



/*** CONTENT ***/
#content_wrapper {
	background: #fff;
}

code {
	background: rgba(100, 100, 0, 0.1);
	color: #080;
}

a {
	color: #09f;
}



/*** SEARCH ***/
#search {
	background: rgba(255, 255, 255, 0.8);
	border: 0;
}
