/* Color Scheme: pro */

body {
	background: #ddd;
}

#main {

}

.pinedocs-logo {
	color: rgba(255, 120, 0, 1);
}

h1,
h2,
h3,
h4 {
	color: #555;
}

/*** MENU ***/
#menu {
	background: #F4F5F4;
}

#menu ul {
}

#menu > ul {
}

#menu ul li {
}

#menu ul li a {
	color: #2C342C;
}

#menu ul li.folder a {
	font-weight: bold;
}

#menu ul li a:hover {
	background: rgba(0, 0, 0, 0.05);
	/*color: #fff;*/
}

#menu ul li a.active:hover,
#menu ul li a.active {
	/*color: #000;*/
	background: rgba(0, 0, 0, 0.1);
}



/*** MENU FOOTER ***/
#menu footer,
#menu footer a {
	color: rgba(0, 0, 0, 0.3);
}



/*** MENU ICONS ***/
#menu i.fa {
	color: rgba(255, 120, 0, 0.9);
}

#menu a.link_dir_open i.fa {
}



/*** CONTENT PATH ***/
#content_top {
	color: rgba(0, 0, 0, 0.5);
	/*border-bottom: 4px solid #F4F5F4;*/
	background: #fafafa;
}

#content_top .filesize {
}



/*** CONTENT ***/
#content_wrapper {
	background: #fff;
}

code {
	background: rgba(100, 100, 0, 0.1);
	color: #080;
}

a {
	color: #09f;
}

blockquote {
	border-color: #eee;
	color: #888;
}



/*** SEARCH ***/
#search {
	background: rgba(255, 255, 255, 0.8);
	border: 0;
}
