/* Color Scheme: simplistic-dark */

body {
	background: #222;
	color: #eee;
}

#main {

}



/*** MENU ***/
#menu_wrapper {
	border-right: 1px solid #111;
}
#menu {
	background: #222;
}

#menu ul {
}

#menu > ul {
}

#menu ul li {
}

#menu ul li a {
	color: #f83;
}

#menu ul li a:hover {
	background: rgba(0, 0, 0, 0.3);
}

#menu ul li a.active:hover,
#menu ul li a.active,
#menu ul li a.active i.fa {
	color: #fff;
}



/*** MENU FOOTER ***/
#menu footer,
#menu footer a {
}



/*** MENU ICONS ***/
#menu i.fa {
	color: #999;
}

#menu a.link_dir_open i.fa {
}



/*** CONTENT PATH ***/
#content_top {
	background: #333;
}

#content_top .filesize {
	color: #999;
}



/*** CONTENT ***/
#content_wrapper {
}

code {
	background: rgba(100, 100, 0, 0.1);
}

h1 {
	border-color: #000;
}

a {
	color: #f83;
}

blockquote {
	border-color: #f83;
	color: #999;
}



/*** SEARCH ***/
#search {
	background: rgba(255, 255, 255, 0.6);
}
