/* Color Scheme: Simplistic (white) */

body {
}

#main {

}

.pinedocs-logo {
	color: #444;
}


/*** MENU ***/
#menu_wrapper {
	border-right: 1px solid #ddd;
}
#menu {
	background: #fff;
}

#menu ul {
}

#menu > ul {
}

#menu ul li {
}

#menu ul li a {
	color: #07f;
	color: #666;
}

#menu ul li a:hover {
	background: rgba(0, 0, 0, 0.1);
}

#menu ul li a.active:hover,
#menu ul li a.active,
#menu ul li a.active i.fa {
	color: #000;
}



/*** MENU FOOTER ***/
#menu footer,
#menu footer a {
}



/*** MENU ICONS ***/
#menu i.fa {
	color: rgba(0, 0, 0, 0.2);
}

#menu a.link_dir_open i.fa {
}



/*** CONTENT PATH ***/
#content_top {
	background: #eee;
}

#content_top .filesize {
	color: #999;
}



/*** CONTENT ***/
#content_wrapper {
}

code {
	background: rgba(100, 100, 0, 0.1);
}

a {
	color: #07f;
}

blockquote {
	border-color: #ddd;
	color: #999;
}



/*** SEARCH ***/
#search {
	background: #eee;
}
