/* Color Scheme: Twilight */

/* Twilight colors */
:root {
	--dark-brown: #9B703F;
	--orange-brown: #CDA869; /* keyword */
	--green: #8F9D6A; /* strings */
	--blue: #7587A6; /* variable */
	--red: #CF6A4C; /* constant */
	--yellow: #F9EE98; /* storage */
}

body {
	background: #191919;
	color: #ccc;
}



/*** MENU ***/
#menu {
	background: #333;
}

#menu ul li a {
	color: var(--blue);
	color: var(--orange-brown);

}

#menu ul li a:hover {
	background: rgba(249, 238, 152, 0.1);
	color: var(--yellow);
}

#menu ul li a.active:hover,
#menu ul li a.active,
#menu ul li a.active i.fa {
	color: #f70;
}



/*** MENU ICONS ***/
#menu i.fa {
	color: var(--green);
}

#menu a.link_dir_open i.fa {
	color: var(--yellow);

}



/*** CONTENT PATH ***/
#content_top {
	background: var(--orange-brown);
	color: #333;
}



/*** CONTENT ***/
#content_wrapper {
	background: #292929;
}

#loading {
	color: var(--yellow);
}

.error {
	color: var(--red);
}



/*** SEARCH ***/
#search {
	background: rgba(255, 255, 255, 0.6);
}



/*** TEXT/MARKDOWN ***/
h1,
h2 {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

code {
	color: var(--yellow);
	display: block;
	padding: 1em;
}

a {
	color: #39d;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

blockquote {
	border-color: var(--orange-brown);
	color: #888;
}
