/* Layout: LAYOUT-NAME */

body {
}

#main {
}



/*** MENU ***/
#menu {
}

#menu #search {
}

#menu ul {
}

#menu > ul {

}

#menu ul li {
}

#menu ul li a {
}

#menu ul li a.active,
#menu ul li a.active i.fa {
}

#menu ul li a:hover {
}



/*** MENU FOOTER ***/
#menu footer,
#menu footer a {
}



/*** MENU ICONS ***/
#menu i.fa {
}

#menu a.link_dir_open i.fa {
}



/*** CONTENT PATH ***/
#content_top {
}

#content_top .filesize {
}



/*** CONTENT ***/
#content_wrapper {
}

#content_wrapper #loading {
}

#content_wrapper .error {
}



/*** CONTENT ELEMENTS ***/
#content_wrapper code {
}

#content_wrapper a {
}
