/* Layout: Default */

body {
	font-family: 'Open Sans', arial, sans-serif;
	font-size: 16px;
}

#main {
	margin: 0 auto;
}



/*** MENU ***/
#menu {
	font-size: 0.85em;
}

#search {
	padding: 10px;
	border: 0;
	font-weight: bold;
	margin: 10px 0 0;
}

#menu ul {
	list-style-type: none;
	width: 100%;
	padding-left: 14px;
}

#menu > ul {
	padding-left: 0;
}

#menu ul li {
}

#menu ul li a {
	text-decoration: none;
	display: block;
	padding: 4px;
}

#menu ul li a:hover {
}

#menu ul li a.active:hover,
#menu ul li a.active,
#menu ul li a.active i.fa {
}



/*** MENU FOOTER ***/
#menu footer,
#menu footer a {
}



/*** MENU ICONS ***/
#menu i.fa {
	font-size: 0.9em;
}

#menu a.link_dir_open i.fa {
}



/*** CONTENT PATH ***/
#content_top {
	font-size: 0.9em;
	font-family: monospace;
	font-weight: bold;
	z-index: 1;
}

#content_top .filesize {
}



/*** CONTENT ***/
#content_wrapper {
}

code {
	font-family: "Consolas", monospace;
}

a {
}
