/* Layout: Wiki */

body {
	font-family: sans-serif;
	font-size: 1rem;
}

#main {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
}

/*** MENU ***/
#menu_wrapper {
	float: none;
	width: auto;
}

#menu {
	padding: .5rem;
	overflow: auto;
}

#search {
	padding: 10px;
	font-weight: bold;
	margin: 10px 0 0;
}

#menu_top {
	margin: 0 auto;
}

#menu ul {
	list-style-type: none;
	width: 100%;
	padding-left: 14px;
}

#menu > ul {
	padding-left: 0;
}

#menu ul li {
}

#menu ul li a {
	text-decoration: none;
	display: block;
	padding: 5px;
}

#menu a.link_dir {
}

#menu ul li a:hover {
	text-decoration: underline;
}

#menu ul li a.active:hover,
#menu ul li a.active,
#menu ul li a.active i.fa {
}

/*** MENU FOOTER ***/
#menu footer {
	border-top-width: 1px;
	border-top-style: solid;
	margin-top: 2em;
	padding-top: 1em;
	font-size: 0.9em;
}

#menu footer,
#menu footer a {
}

/* ICONS */
#menu i.fa {
	font-size: 0.9em;
	opacity: 0.6;
}

/*** CONTENT PATH ***/
#content_top {
	/*font-family: monospace;*/
	font-weight: bold;
	opacity: 0.95;
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	z-index: 1;
}

#content_top .filesize {
}

/*** CONTENT ***/
#content_wrapper {
	width: 80%;
	font-size: 14px;
	flex-grow: 1;
	float: none;
}

#file_content {
	width: 100%;
}

/***  Text/markdown ***/
h1,
h2,
h3,
h4,
h5 {
	font-family: Georgia,Times,serif;
	font-weight: normal;
}

code {
	font-family: "Consolas", monospace;
}

a {
}
